<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Memory Trouble </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/second" routerDirection="forward">
    Lots of DOM Elements
  </ion-button>

  <ion-button routerLink="/third" routerDirection="forward">
    Launch Leaky Page
  </ion-button>

  <ion-button routerLink="/fourth" routerDirection="forward">
    Detached DOM Elements
  </ion-button>
</ion-content>
